<header class="header">
    <div class="header__logo wrapper">
        <div class="go__landing">
            <h1>SerioFinder</h1>
            <div class="header__logo__img"></div>
        </div>
        <div class="header__welcome wrapper">
            <i class="fas fa-user"></i>
            <p class="welcome__user welcome-js">
                
            </p>
        </div>
    </div>
    <div class="header__favandSearch wrapper">
        <div class="header__finder favourites-js">
            <i class="far fa-star"></i>
            <p class="header__fav">Favoritos</p>
            <p class="counter-js">0</p>
            <i class="fas fa-caret-down arrowUp-js"></i>
        </div>
        <form class="header__form" action="">
            <input class="header__search search-js" type="text" placeholder="Busca tu serie...">
            <i class="fas fa-search lupa-js"></i>
        </form>
    </div>
</header>