<div class="main__landing landing-js">
    <div class="landing__container">
        <div class="landing__logo">
            <h1>SerioFinder</h1>
            <div class="landing__logo__img"></div>
        </div>
        <form class="form__landing" action="">
            <label class="user" for="user">Introduce tu usuario</label>
            <input class="introduce__user user-js" type="text" id="user" placeholder="Ada Finder">
            <p class="user__advise-js hidden">Por favor, introduce tu nombre de usuario</p>
            <a href="#" class="access access-js">Acceder</a>
        </form>
    </div>
</div>