// FONTS 
$font-primary: 'Raleway', sans-serif;
$font-secundary: 'Jost', sans-serif;

//COLORS
$color-primary: rebeccapurple;
$color-light: white;
$color-dark: black;
$color-background: rgb(224, 195, 248);
$color-box-shadow: rgb(131, 82, 179);
